@import url('https://fonts.googleapis.com/css?family=Roboto');

html,body {
    margin: 0%;
    color: #272727;
    font-family: 'Roboto', sans-serif;
}

#page
{
    font-family: Arial, Helvetica, sans-serif;

}

.content
{
    text-align: center;
    padding: 16px;
    padding: 5% 0 5% 0;
    margin: 0 auto; /* Center in other browsers */
    max-width: 800px;
}

a {
    color: #272727;
  }

#cloud-page {
    background-color: #0078D7;
    text-align: center;
    color: #ffffff;
    padding: 5% 0 8% 0;
    font-size: 1em;
    font-weight: 500;
}

.strive-description {
    height: 100px;
    max-width: 350px;
    display: inline-block;
    padding: 2% 0 5% 0;
    height: 200px;
}

.services {
    padding: 5% 0 5% 0;
}

.icon-services{
    max-width: 80px;
}

/* 'Customer Service' etc */
.icon-group {
     max-width: 300px;
    text-align: center;
    display: inline-block;
    padding: 2% 2% 8% 2%;
    vertical-align: baseline;
}

/* temp name / block */
.customer-quotes {
    width: 70%;
    background-color: rgb(228, 228, 228);
    display: inline-block;
    padding: 5%;
    border-radius: 5px;
}

.header-img {
    max-width: 50%;
    text-align: center;
}

.navbar
{
    overflow: hidden;
    background-color: #ffffff;
}
.navbar a
{
    float: left;
    display: block;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
.navbar .icon
{
    display: none;
}
.subnav
{
    float: left;
    overflow: hidden;
}
.subnav .subnavbtn
{
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.subnav-content
{
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1;
}

.subnav-content a
{
    float: left;
    text-decoration: none;
}
.navbar a.active
{
}

.navbar a:hover, .subnav:hover .subnavbtn
{
    background-color: #bebebe;
}
.subnav-content a:hover
{
    background-color: #bebebe;
   /* color: white;*/
}
.subnav:hover .subnav-content
{
    display: block;
}
@media screen and (max-width: 600px) 
{
    .navbar a, .subnav .subnavbtn
    {
        display: none;
    }
    .navbar .not
    {
        display: block;
    }
    
    .navbar a.icon
    {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px)
{
    .navbar.responsive 
    {
        position: relative;
    }
    .navbar.responsive .icon
    {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive a
    {
        float: none;
        display: block;
        text-align: center;
        
    }
    .navbar .not
    {
        padding: 8px 0px 40px 0px;
    }
   
    #home
    {
        display: none;
    }
   
    .navbar.responsive .subnav
    {
        float: none;
        text-align: center;
    }
    .navbar.responsive .subnav-content
    {
        position: inherit;
    }
    .navbar.responsive .subnav .subnavbtn
    {
        
        display: block;
        width: 100%;
        text-align: center;
    }
}

.p-container
{
    width: 50%;
    height: auto;
}

#footer
{
    margin: 40px 0px 20px 0px;
    font-style: italic;
    padding: 0px 0px 0px 30px;
    text-align: center;
}
.footer-icons
{
    text-align: center;
    
}
.footer-icons .fab 
{
    padding: 40px 20px;
    
    
}